* { box-sizing: border-box;
    margin: 0%;}

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
}
  
header {
    padding: 20px 35px;
    background-color: #8ec998;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
    position: sticky; 
    top: 0;
}

header h1 {
    color:darkblue;
}
 
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

.hero {
    background-size: cover;
    background-position: center;
    display: block;
    justify-content:left 

}

.hero img{
    display: flex; 
    background-size: cover;
    background-position:center;
    justify-content:center;
    flex-wrap: wrap;
    align-items: flex-start;
   
}

.container {
    margin: 0 auto;
}

.container h2 {
    margin: 0 auto;
    color:black;

}
.grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.grid-item {
    flex-basis: 50%;
    
    /*flex: auto;*/
    
    /*width: 500px;*/
    /*position: relative;*/
    
    /*position: absolute;*/
    padding: 10px;
    /*box-sizing: border-box;*/
    /*text-align: center*/;
    /*vertical-align: middle;*/
}

#profile {
    display:flex;
    padding-right: 10px;
    position: relative;
    justify-content: right;
}

.contactjpg {
    display:flex;
    padding-right: 5px;
    position: relative;
    justify-content: right;
}

.contact_tbl {
    display:flex;
    position: relative;
    justify-content: center;
}
.t_left{
    text-align:left;
}

.t_right{
    text-align:right;
}

.t_center{
    text-align:center;
}

.portfolio {
    flex: 4;

    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

     /* justify-content:space-around;  /*   : space-between; */
}

.card {
    display: flex;

    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 20px;   */
    margin-bottom: 20px;    /* Will kick in when wrapped up */
    /**/
    position: relative;
    display: inline-block;

}
  
.card header {
    padding: 20px;
}
    
.card img {
    width: 100%;
    background-position: center;
}

/*.card:visited{*/
.card:hover{
    border-color: blueviolet;
    border-style: double;
    border-width: 3px;
    background-color: #8ec998;
    
}

.card .img-top {
    display: none;
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
}

#event3:hover .img-top {
    display: inline;
}

.card:hover {
    background-color: #8ec998;
    border-color: red;
    border: double;
}
  
.card p {
    text-align: center;
}
  
.card img {
    width: 100%;
}

.card:hover {
    background-color: #8ec998;
    border-color: red;
    border: double;
}
  
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: inline;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 5px; /* 15px; */
    margin-top: 5px;

    border-radius: 10px;
    background-color: rgba(255,255,255, .75);
}

.contact-form button {
    background-color: rgb(221, 224, 220);
    color: black; /* #rgb(1, 75, 1);*/
    border-radius: 5px;
    margin-bottom: 5px; /* 15px; */
    margin-top: 10px;
}

.contact_tbl tr{
    height: 30px;
}

.footer{
    padding: 20px 35px; 
    background-color: #8ec998;
    color:darkblue;
    display: flex;
    flex-wrap: wrap;
    top: 0;
}






/*  Media query  */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body section {
        background-color: rgb(204, 204, 228);
        color: #4b39b2;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body section {
        background-color: rgb(186, 194, 185);
        color: #4b39b2;
    }
}
  
